/* Display */

.d-none {
    display: none;
}

.d-unset {
    display: unset;
}

@media screen and (min-width: 500px){
    .md-d-none {
        display: none;
    }
    .md-d-unset {
        display: unset;
    }
}

@media screen and (min-width: 740px){
    .lg-d-none {
        display: none;
    }

    .lg-d-unset {
        display: unset;
    }
}

/* Position */
.pos-relative { position: relative; }
.pos-absolute { position: absolute; }
.pos-fixed { position: fixed; }
.pos-sticky {position: sticky;}

.pos-top { top: 0; left: 0; }
.pos-top-end { top: 0; right: 0; }
.pos-top-center { top: 0; left: 50%; transform: translate(-50%, 0); }
.pos-bottom { bottom: 0; left: 0; }
.pos-bottom-end { bottom: 0; right: 0; }
.pos-center { top: 50%; left: 50%; transform: translate(-50%, -50%); }
.pos-center-start {top: 50%; left: 0; transform: translate(0, -50%); }
.pos-center-end {top: 50%; right: 0; transform: translate(0, -50%); }
