/*Flex container */
.flex { display: flex; }
.flex-column { flex-direction: column; }
.gap-1 { gap: 1em; }
.gap-2 { gap: 2em; }
.gap-3 { gap: 3em; }
.gap-4 { gap: 4em; }
.gap-5 { gap: 5em; }
.gap-6 { gap: 6em; }
.gap-7 { gap: 7em; }
.gap-8 { gap: 8em; }
.gap-9 { gap: 9em; }
.gap-10 { gap: 10em; }


/* Align-items variations */
.align-start { align-items: flex-start; }
.align-end { align-items: flex-end; }
.align-center { align-items: center; }
.align-baseline { align-items: baseline; }
.align-stretch { align-items: stretch; }

/* Justify-content variations */
.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-evenly { justify-content: space-evenly; }
